/* General Styles */

body {
   f ont-family: 'Lato', Helvetica, sans-serif;
}

h1 {
    font: 2.25em 'Crimson Text', serif;
}

h2 {
    font: 1.75em 'Crimson Text', serif;
}

h3 {
    font: 1.25em 'Crimson Text', serif;
    text-transform: uppercase;
}

h4 {
    font: 1.00em 'Crimson Text', serif;
    font-weight: bold;
    margin: 0;
}


/* Navigation */
.navbar-default {
  border: 0;
  background-color: rgba(0,0,0,0.8);
}

.navbar-default .navbar-brand {
  font: 1.6em 'Crimson Text', serif;
  letter-spacing: .02em;
  line-height: 1;
  color: #fff;
  padding: 11px 15px;
}

.navbar-default .navbar-brand:hover {
  color: #e1a938;
}

.navbar-default .navbar-toggle {
  border: 0;
  padding: 9px 0;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background: rgba(255,255,255,0.7);
}

.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar {
  background: rgba(255,255,255,1);
}

.navbar-default .navbar-nav > li > a {
  color: rgba(255,255,255,0.6);
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #e1a938;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: #e1a938;
  color: #fff;
}

.dropdown-menu {
  border: none;
  border-radius: 0;
  margin: 0;
}


/* Homepage Slider */
.jumbotron {
  padding: 0;
  background: none;
  width: -webkit-calc(100% + 30px);
  width: -moz-calc(100% + 30px);
  width: calc(100% + 30px);
  margin-left: -15px;
}

/* ========================================================================== */
@media screen and (min-width: 768px) {

  body > .container {
    padding: 80px 0 0;
  }

  /* Homepage Slider */
  .container .jumbotron,
  .container-fluid .jumbotron {
    width: 100%;
    margin: 0;
    padding: 0;
    background: none;
  }
}

.container-email {
    display: table;
    vertical-align: middle;
}
.vertical-center-row-email {
    display: table-cell;
    vertical-align: middle;
}

.email-row {
    padding-top: 150px;
}

.contact-email {

    font-size: 30px;
}

.photo-row {
    margin-top: 15px;
}