/* General Styles */

body {
   font-family: 'Lato', Helvetica, sans-serif;
}


h1 {
    font: 2.25em 'Crimson Text', serif;
}

h2 {
    font: 1.75em 'Crimson Text', serif;
}

h3 {
    font: 1.25em 'Crimson Text', serif;
    text-transform: uppercase;
}

h4 {
    font: 1.00em 'Crimson Text', serif;
    font-weight: bold;
    margin: 0;
}

/* page */
.wrapper {
    margin: 0 auto;
    width: 70%;
}

.centered {
    margin: 0 auto;
    text-align: center;    
}

.fm-nav ul {
    display: inline-block;
}


/* Header logo */
.header img {
    width: 60%;
    padding-bottom: 20px;
}


/* Navigation */

#featured-releases {
    padding: 0px;
}

.featured-release {
    position: relative;
    list-style-type: none;
    padding: 0px;
    padding-bottom: 15px;
}

.featured-release img {
    border: 1px solid #acacac;
    width: 75%;
}

.buy-release {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    background-color: #fff;
    text-align: center;
    width: 10%;
    height: 10%;
    margin: 10px 0 10px 0;
    padding: 0;
    border: 1px solid #000;
    position: absolute;
    top: 6px;
    right: 109px;
    font-size: 18px;
    font-size: 11px;
    border-radius: 2px;
    display: none;
}

.featured-release img:hover .buy-button {
    background-color: pink;
    display: block;
}

.buy-release:hover {
    background-color: #bebebe;
}

.instagram-image {
    margin-top: 30px;
}

.show-listing {
    margin-bottom: 5px;
}

.paypal-button .large {
    margin: auto;
    display: block;
}

#social-media {
    list-style-type: none;
    padding: 0;
}

#social-media li {
    display: inline;
    padding: 3px;
}