<ul class="releases-row">
<% data.releases.each do |r| %>
  <li class="release">
      <%= image_tag r.release.image_lg, :alt => r.release.image_alt %>
      <!-- <div class="release-formats"> -->
      <!--     <button data-release-id='<%= r.release.release_key %>' type="button" class="btn btn-block buy-release"> order album </button> -->
      <!-- </div> -->
  </li>
<% end %>
</ul>
