---
title: My About Page
---

<!-- Add your site or application content here -->
<h1> About </h1>

<p>Flying Moonlight was founded in the Summer of 2014 in Brooklyn, New York. We release artifacts from the past and present from sources as diverse as our
  close friends to forgotten albums from the dollar bin. We specialize in cassette and vinyl releases as well as digital. </p>

<p>We operate as a collective of artists, musicians, programmers and designers. We put deep care into each release, applying our full energy
  to make an object as striking and beautiful as the artists own music. </p>

<p>We look forward to releasing wild and remarkable music for some time to come.</p>

<h1> Demos </h1>

<p> We listen to all demos. Please upload your music to SoundCloud and send a link to <a href="mailto: flyingmoonlightrecords@gmail.com">flyingmoonlightrecords@gmail.com</a>.</p>
