<!-- Add your site or application content here -->
<div class="container">
    <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
            <h1><%= artist_name %></h1>
            <div class="artist">
                <div class="artist-images">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="artist-image-left" alt="George Sand - Berlin" src="../img/artists/george-sand/GeorgeSand-berlin.jpg"/>
                        </div>
                        <div class="col-md-8">
                            <img class="artist-image-right" alt="George Sand - Berlin" src="../img/artists/george-sand/GeorgeSand-band.jpg"/>
                            <img class="artist-image-right" alt="George Sand - Berlin" src="../img/artists/george-sand/GeorgeSand-candace-kelly-jay.jpg"/>
                        </div>
                    </div>
                </div>
                <h1>Bio</h1>
                <div class="artist-bio">
                    GEORGE SAND (feat. Jay Pluck of Ed Askew Band) sing modern hymns and are from downtown Manhattan.
                    "... strange, minimalist keyboard band... Jay Pluck has obviously had some immersion in Philip Glass:
                    there's a hypnotic aspect to this music, but it's more raw and ragged and gently, methodically
                    disquieting. Think of the creepy cinematics of In the Summer House and you'll be on the right track. All
                    of the songs are working subtle, precisely articulated variations on broken chords, with an uneasy,
                    modal melodic sense... (and) feature nebulously ominous guy/girl harmonies." -- New York Music Daily
                </div>
                
                <h1>Video</h1>
                <div class="artist-video">
                    <iframe src="//player.vimeo.com/video/117653524" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> <p><a href="http://vimeo.com/117653524">George Sand -- &quot;Avenue B&quot; [OFFICIAL VIDEO]</a> from <a href="http://vimeo.com/user2545719">Candace Thompson</a> on <a href="https://vimeo.com">Vimeo</a>.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
            <div>
                <h2>Releases</h2>
                <div class="releases">
                    <div class="release">
                        <img src="../img/releases/fm002/GeorgeSand-Caroline-sm.jpg" alt="George Sand - Caroline" />
                        <h4 class="release-title">George Sand - Caroline (EP)</h4>
                        <div class="release-formats">
                            <select class="sidebar-selectpicker">
                                <option value="None"> Select Format </option>
                                <option value="vinyl" data-price="$7.00"> Vinyl </option>
                                <option value="cassette" data-price="$4.00"> Cassette </option>
                                <option value="cassette-and-vinyl" data-price="$10.00"> Cassette and Vinyl</option>
                            </select>
                        </div>
                    </div>
                </div>
                <h2>Shows</h2>
                <hr>
                <%= partial "upcoming_shows" %>
            </div>
            <div>
                <h2>Audio</h2>
                <hr>
                <% data.featured_audio.bandcamp_embeds.each do |entry| %>
                <ul class="list-group list-unstyled right-bar-audio">
                    <% entry.artist.each do |ent| %>
                    <p><%= ent.name %></p>
                    <% ent.tracks.to_a.sample(2).each do |track| %>
                    <li><%= track %></li>
                    <% end %>
                    <% end %>
                </ul>
                <% end %>
            </div>
        </div><!--/.sidebar-offcanvas-->
    </div><!--/row-->
    <hr>
    <!-- Modal -->
    <div class="modal fade" id="release-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h2 class="release-title">George Sand - Caroline (EP)<span class="release-title-format"><span></h2>
                    <img class="release-full-size-img img-responsive" src="../img/releases/fm002/GeorgeSand-Caroline.jpg" alt="George Sand - Caroline" />
                    <div class="release-price"></div>
                    <div class="release-purchase"></div>
                </div>
                <div class="modal-body">
                    <div class="release-description">Test. Test. Test.</div>
                    <select class="modal-selectpicker">
                        <option value="None"> Change Format </option>
                        <option value="vinyl" data-price="$7.00"> Vinyl </option>
                        <option value="cassette" data-price="$4.00"> Cassette </option>
                        <option value="cassette-and-vinyl" data-price="$10.00"> Cassette and Vinyl</option>
                    </select>
                </div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Track</th>
                            <th>Time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>AVENUE B.</td>
                            <td>4:36</td>
                        </tr>
                        <tr>
                            <th scope="row">2</th>
                            <td>2 A.M.</td>
                            <td>8:07</td>
                            </tr>
                        <tr>
                            <th scope="row">3</th>
                            <td>CAROLINE</td>
                            <td>6:22</td>
                        </tr>
                    </tbody>
                </table>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Purchase</button>
                </div>
            </div>
        </div>
    </div>
</div>

